################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/src/dotnet/assemblies/BinaryStudio.Modeling.UnifiedModelingLanguage/bin
/src/dotnet/assemblies/BinaryStudio.Modeling.UnifiedModelingLanguage/obj
