################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
*.user
/src/dotnet/assemblies/BinaryStudio.Modeling.UnifiedModelingLanguage/bin
/src/dotnet/assemblies/BinaryStudio.Modeling.UnifiedModelingLanguage/obj
/src/dotnet/packages/BinaryStudio.Modeling.VSShellPackage/bin
/src/dotnet/packages/BinaryStudio.Modeling.VSShellPackage/obj
/src/dotnet/assemblies/BinaryStudio.Modeling/bin
/src/dotnet/assemblies/BinaryStudio.Modeling/obj
/src/dotnet/assemblies/BinaryStudio.Modeling.PlatformUI/bin
/src/dotnet/assemblies/BinaryStudio.Modeling.PlatformUI/obj
/src/dotnet/assemblies/BinaryStudio.PlatformUI/bin
/src/dotnet/assemblies/BinaryStudio.PlatformUI/obj
/src/dotnet/assemblies/BinaryStudio.DiagnosticServices/bin
/src/dotnet/assemblies/BinaryStudio.DiagnosticServices/obj
/src/dotnet/assemblies/BinaryStudio.PlatformComponents/bin
/src/dotnet/assemblies/BinaryStudio.PlatformComponents/obj
/src/dotnet/assemblies/BinaryStudio.PortableExecutable/bin
/src/dotnet/assemblies/BinaryStudio.PortableExecutable/obj
/src/dotnet/assemblies/BinaryStudio.PortableExecutable.PlatformUI/bin
/src/dotnet/assemblies/BinaryStudio.PortableExecutable.PlatformUI/obj
/src/dotnet/assemblies/BinaryStudio.IO/bin
/src/dotnet/assemblies/BinaryStudio.IO/obj
/src/dotnet/assemblies/BinaryStudio.Serialization/bin
/src/dotnet/assemblies/BinaryStudio.Serialization/obj
/src/dotnet/assemblies/BinaryStudio.VSShellServices/bin
/src/dotnet/assemblies/BinaryStudio.VSShellServices/obj
/src/dotnet/tests/UnitTests.BinaryStudio.PlatformComponents/bin
/src/dotnet/tests/UnitTests.BinaryStudio.PlatformComponents/obj
/src/dotnet/samples/XYViewportSample/bin
/src/dotnet/samples/XYViewportSample/obj
/src/dotnet/samples/DllResources/bin
/src/dotnet/samples/DllResources/obj
/src/dotnet/samples/HResultSample/bin
/src/dotnet/samples/HResultSample/obj
/src/dotnet/samples/PEView/bin
/src/dotnet/samples/PEView/obj
/src/dotnet/samples/PlatformUISample/bin
/src/dotnet/samples/PlatformUISample/obj
