################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
*.user
*.dcu
*.~dpr
*.log
~$*.*
/src/dotnet/libraries/BinaryStudio.Modeling.UnifiedModelingLanguage/bin
/src/dotnet/libraries/BinaryStudio.Modeling.UnifiedModelingLanguage/obj
/src/dotnet/packages/BinaryStudio.Modeling.VSShellPackage/bin
/src/dotnet/packages/BinaryStudio.Modeling.VSShellPackage/obj
/src/dotnet/libraries/BinaryStudio.Modeling/bin
/src/dotnet/libraries/BinaryStudio.Modeling/obj
/src/dotnet/libraries/BinaryStudio.Modeling.PlatformUI/bin
/src/dotnet/libraries/BinaryStudio.Modeling.PlatformUI/obj
/src/dotnet/libraries/BinaryStudio.PlatformUI/bin
/src/dotnet/libraries/BinaryStudio.PlatformUI/obj
/src/dotnet/libraries/BinaryStudio.DiagnosticServices/bin
/src/dotnet/libraries/BinaryStudio.DiagnosticServices/obj
/src/dotnet/libraries/BinaryStudio.PlatformComponents/bin
/src/dotnet/libraries/BinaryStudio.PlatformComponents/obj
/src/dotnet/libraries/BinaryStudio.PortableExecutable/bin
/src/dotnet/libraries/BinaryStudio.PortableExecutable/obj
/src/dotnet/libraries/BinaryStudio.PortableExecutable.PlatformUI/bin
/src/dotnet/libraries/BinaryStudio.PortableExecutable.PlatformUI/obj
/src/dotnet/libraries/BinaryStudio.IO/bin
/src/dotnet/libraries/BinaryStudio.IO/obj
/src/dotnet/libraries/BinaryStudio.Serialization/bin
/src/dotnet/libraries/BinaryStudio.Serialization/obj
/src/dotnet/libraries/BinaryStudio.VSShellServices/bin
/src/dotnet/libraries/BinaryStudio.VSShellServices/obj
/src/dotnet/libraries/BinaryStudio.Security.Cryptography/bin
/src/dotnet/libraries/BinaryStudio.Security.Cryptography/obj
/src/dotnet/libraries/BinaryStudio.Security.Cryptography.AbstractSyntaxNotation/bin
/src/dotnet/libraries/BinaryStudio.Security.Cryptography.AbstractSyntaxNotation/obj
/src/dotnet/libraries/BinaryStudio.Security.Cryptography.Certificates/bin
/src/dotnet/libraries/BinaryStudio.Security.Cryptography.Certificates/obj
/src/dotnet/libraries/BinaryStudio.DirectoryServices/bin
/src/dotnet/libraries/BinaryStudio.DirectoryServices/obj
/src/dotnet/libraries/BinaryStudio.Security.Cryptography.PlatformUI/bin
/src/dotnet/libraries/BinaryStudio.Security.Cryptography.PlatformUI/obj
/src/dotnet/tests/UnitTests.BinaryStudio.Security.Cryptography.Certificates/bin
/src/dotnet/tests/UnitTests.BinaryStudio.Security.Cryptography.Certificates/obj
/src/dotnet/libraries/BinaryStudio.Security.Cryptography.CryptographicMessageSyntax/bin
/src/dotnet/libraries/BinaryStudio.Security.Cryptography.CryptographicMessageSyntax/obj
/src/dotnet/libraries/BinaryStudio.DataProcessing/bin
/src/dotnet/libraries/BinaryStudio.DataProcessing/obj
/src/dotnet/tests/UnitTests.BinaryStudio.PlatformComponents/bin
/src/dotnet/tests/UnitTests.BinaryStudio.PlatformComponents/obj
/src/dotnet/tests/UnitTests.BinaryStudio.Task/bin
/src/dotnet/tests/UnitTests.BinaryStudio.Task/obj
/src/dotnet/samples/XYViewportSample/bin
/src/dotnet/samples/XYViewportSample/obj
/src/dotnet/samples/DllResources/bin
/src/dotnet/samples/DllResources/obj
/src/dotnet/samples/HResultSample/bin
/src/dotnet/samples/HResultSample/obj
/src/dotnet/samples/PEView/bin
/src/dotnet/samples/PEView/obj
/src/dotnet/samples/PlatformUISample/bin
/src/dotnet/samples/PlatformUISample/obj
/src/delphi/tests/UnitTests.BinaryStudio.Task/Task.exe
/src/dotnet/kit/bin
/src/dotnet/kit/obj
/src/dotnet/libraries/BinaryStudio.Security.Cryptography.Interchange/bin
/src/dotnet/libraries/BinaryStudio.Security.Cryptography.Interchange/obj
/help/Working
/src/dotnet/tools/xhlp/bin
/src/dotnet/tools/xhlp/obj
/src/dotnet/tests/UnitTests.BinaryStudio.PortableExecutable/bin
/src/dotnet/tests/UnitTests.BinaryStudio.PortableExecutable/obj
/src/delphi/tests/UnitTests.BinaryStudio.Task/out

/.intermediate
/src/cc/clr/.intermediate
/src/cc/clr/obj
/src/cc/ntdll/.intermediate
/src/dotnet/shell/bin
/src/dotnet/shell/obj
